.about.cards

    .card
        display: flex
        align-items: flex-start
        justify-content: flex-start

        svg
            fill: white
            width: 40px
            height: 40px
            margin-right: 25px

        h3
            margin: 0
            margin-bottom: 30px