.products

    .card.btn
        padding: 0
        overflow: hidden
        width: 360px
        height: 640px
        background-position: center
        background-size: 100% 100%
        background-repeat: no-repeat
        transition-duration: 1s
        cursor: pointer

        &.product1
            background-image: url("../imgs/product 1 card.jpg")

        &.product2
            background-image: url("../imgs/product 2 card.jpg")
        
        &.product3
            background-image: url("../imgs/product 3 card.jpg")
        
        &.product4
            background-image: url("../imgs/product 4 card.jpg")

        &.product5
            background-image: url("../imgs/product 5 card.jpg")

        &.product6
            background-image: url("../imgs/product 6 card.jpg")


        &:hover
            background-size: 105% 105%

    .wrapper-modals
        position: fixed
        left: 0
        top: 0
        margin: 0
        width: 100%
        height: 100%
        border: 1px solid red
        display: flex
        align-items: center
        justify-content: center
        background-color: rgba($color_d, 0.8)
        z-index: 2

        .modal
            border: 1px solid red
            width: 80%
            height: 80%
            margin: 0
            background-color: $color_d

            h3
                font-size: 34px

            h4
                font-size: 28px

            .close
                background: none
                border: none
                width: 100%
                text-align: right
                padding: 10px 0
                cursor: pointer

                svg
                    width: 15px
                    height: 15px
                    fill: $color_b

            .content
                display: grid
                grid-template-columns: repeat(2, 1fr)
                height: 100%


                .left
                    .wrapper-img
                        width: 75%
                        max-width: 680px
                        height: auto
                        margin: 0 auto
                        border-radius: 30px
                        overflow: hidden

                    a
                        margin: 0 auto
                        margin-top: 30px
                        width: 120px
                        text-align: center
                        display: block

                .right
                    overflow-y: scroll
                    height: 90%

                    // Hide scroll bar
                    -ms-overflow-style: none
                    scrollbar-width: none
                    &::-webkit-scrollbar
                        display: none



    @media screen and (max-width: 1300px)
        .wrapper-modals
            .modal

                .content
                    display: block
                    overflow-y: scroll
                    height: 90%

                    .left
                        .wrapper-img
                            width: 90%

                    .right
                        overflow-y: visible
                        height: auto


    @media screen and (max-width: 1220px)
        grid-template-columns: repeat(2, 350px)

        .card
            width: auto
            margin: 4%

    @media screen and (max-width: 820px)
        grid-template-columns: 90%
        gap: 0px

        .card
            margin: 2.5%
            width: 280px
            height: calc(280px * 640 / 360)
            margin-left: auto
            margin-right: auto
